In [81]:
%matplotlib inline

from modsim import *

In [82]:
#simulation of freshman class only
init1 = State(s1=89, i1=1,r1=0)

init2 = State(s2=90, i2=0, r2=0)

init3 = State(s3=90, i3=0, r3=0)

init4 = State(s4=90,i4=0,r4=0)

init1, init2, init3, init4

(s1    89
 i1     1
 r1     0
 dtype: int64, s2    90
 i2     0
 r2     0
 dtype: int64, s3    90
 i3     0
 r3     0
 dtype: int64, s4    90
 i4     0
 r4     0
 dtype: int64)

In [83]:
init1 /= sum(init1)
init2 /= sum(init2)
init3 /= sum(init3)
init4 /= sum(init4)
init1, init2, init3, init4

(s1    0.988889
 i1    0.011111
 r1    0.000000
 dtype: float64, s2    1.0
 i2    0.0
 r2    0.0
 dtype: float64, s3    1.0
 i3    0.0
 r3    0.0
 dtype: float64, s4    1.0
 i4    0.0
 r4    0.0
 dtype: float64)

In [84]:
def make_system(beta1, beta2, beta3, beta4, beta5, beta6, beta7, gamma):
    """BETAS
    beta1 - within class
    beta2 - F-So
    beta3 - F-J
    beta4 - F-Se
    beta5 - So-J
    beta6 - So-Se
    beta7 - J-Se
    """

    init1 = State(s1=89, i1=1,r1=0)

    init2 = State(s2=90, i2=0, r2=0)

    init3 = State(s3=90, i3=0, r3=0)

    init4 = State(s4=90, i4=0, r4=0)
    

    init1 /= sum(init1)
    init2 /= sum(init2)
    init3 /= sum(init3)
    init4 /= sum(init4)
  
    
    t0 =0 
    t_end = 7 * 14
    
    return System(init1=init1, init2=init2, init3=init3, init4=init4, t0=t0, t_end=t_end,
                 beta1=beta1, beta2=beta2, beta3=beta3, beta4=beta4, beta5=beta5, beta6=beta6, beta7=beta7, gamma=gamma)

init1    s1    0.988889
i1    0.011111
r1    0.000000
d...
init2         s2    1.0
i2    0.0
r2    0.0
dtype: float64
init3         s3    1.0
i3    0.0
r3    0.0
dtype: float64
init4         s4    1.0
i4    0.0
r4    0.0
dtype: float64
t0                                                       0
t_end                                                   98
beta1                                                  1.5
beta2                                                 0.75
beta3                                                  0.5
beta4                                                 0.25
beta5                                                 0.75
beta6                                                  0.5
beta7                                                 0.75
gamma                                                 0.25
dtype: object

In [86]:
state1 = update1(init1, init2, init3, init4, system)
state2 = update2(init2, system)
state3 = update3(init3, system)
state4 = update4(init4, system)

NameError: name 'i2' is not defined

In [69]:


def update1(state1, state2, state3, state4, system):

    s1, i1, r1 = state1
    
    infected1 = system.beta1*s1*i1 + system.beta2*s1*i2 + system.beta3*s1*i3 + system.beta4*s1*i4
    
    recovered1 = system.gamma * i1
    
    s1 -= infected1
    
    i1 += infected1 - recovered1
    
    r1 += recovered1
    
    return State(s1=s1, i1=i1, r1=r1)

In [70]:
def update2(state2, system):
    s2, i2, r2 = state2
    infected2 = system.beta1*s2*i2 + system.beta2*s2*i1 + system.beta5*s2*i3 + system.beta6*s2*i4
    recovered2 = system.gamma * i2
    s2 -= infected2
    i2 += infected2 - recovered2
    r2 += recovered2
    return State(s2=s2, i2=i2, r2=r2)

In [71]:
def update3(state3, system):
    s3, i3, r3 = state3
    infected3 = system.beta1*s3*i3 + system.beta3*s3*i1 + system.beta5*s3*i2 + system.beta7*s3*i4
    recovered3 = system.gamma * i3
    s3 -= infected3
    i3 += infected3 - recovered3
    r3 += recovered3
    return State(s3=s3, i3=i3, r3=r3)

In [72]:
def update3(state4, system):
    s4, i4, r4 = state4
    infected4 = system.beta1*s4*i4 + system.beta4*s4*i1 + system.beta6*s4*i2 + system.beta7*s4*i3
    recovered4 = system.gamma * i4
    s4 -= infected4
    i4 += infected4 - recovered4
    r4 += recovered4
    return State(s4=s4, i4=i4, r4=r4)

In [73]:
def run_simulation(system, update1):
    
    s1 = TimeSeries()
    s2 = TimeSeries()
    s3 = TimeSeries()
    s4 = TimeSeries()
    i1 = TimeSeries()
    i2 = TimeSeries()
    i3 = TimeSeries()
    i4 = TimeSeries()
    r1 = TimeSeries()
    r2 = TimeSeries()
    r3 = TimeSeries()
    r4 = TimeSeries()
    
    
    
    state1 = system.init1
    state2 = system.init2
    state3 = system.init3
    state4 = system.init4
    
    t0 = system.t0
    s1[t0], i1[t0], r1[t0] = state1
    s2[t0], i2[t0], r2[t0] = state2
    s3[t0], i3[t0], r3[t0] = state3
    s4[t0], i4[t0], r4[t0] = state4
    
    
    for t in linrange(system.t0, system.t_end):
        state1 = update1(state1, system)
        s1[t+1], i1[t+1], r1[t+1] = state1
        state2 = update2(state2, system)
        s2[t+1], i2[t+1], r2[t+1] = state2
        state3 = update3(state3, system)
        s3[t+1], i3[t+1], r3[t+1] = state3
        state4 = update4(state4, system)
        s4[t+1], i4[t+1], r4[t+1] = state4
        
        
    system.s1 = s1
    system.s2 = s2
    system.s3 = s3
    system.s4 = s4
    system.i1 = i1
    system.i2 = i2
    system.i3 = i3
    system.i4 = i4
    system.r1 = r1
    system.r2 = r2
    system.r3 = r3
    system.r4 = r4
    
    
    #return state1, state2, state3, state4

In [80]:
beta1 = 1.5
beta2 = .75
beta3 = .5
beta4 = .25
beta5 = .75
beta6 = .5
beta7 = .75
gamma = .25
system = make_system(beta1, beta2, beta3, beta4, beta5, beta6, beta7, gamma)
system

init1    s1    0.988889
i1    0.011111
r1    0.000000
d...
init2         s2    1.0
i2    0.0
r2    0.0
dtype: float64
init3         s3    1.0
i3    0.0
r3    0.0
dtype: float64
init4         s4    1.0
i4    0.0
r4    0.0
dtype: float64
t0                                                       0
t_end                                                   98
beta1                                                  1.5
beta2                                                 0.75
beta3                                                  0.5
beta4                                                 0.25
beta5                                                 0.75
beta6                                                  0.5
beta7                                                 0.75
gamma                                                 0.25
dtype: object

In [75]:
run_simulation(system, update1)

TypeError: update1() missing 3 required positional arguments: 'state3', 'state4', and 'system'

In [76]:
def plot_all_results(S1, I1, R1, S2, I2, R2, S3, I3, R3, S4, I4, R4):
    plot(S1, '--', color='blue', label='Susceptible Freshmen')
    plot(S2, '--', color='green', label='Susceptible Sophomores')
    plot(S3, '--', color='red', label='Susceptible Juniors')
    plot(S4, '--', color='purple', label='Susceptible Seniors')
    
    plot(I1, '-', color='blue', label='Infected Freshmen')
    plot(I2, '-', color='green', label='Infected Sophomores')
    plot(I3, '-', color='red', label='Infected Juniors')
    plot(I4, '-', color='purple', label='Infected Seniors')
    
    plot(R1, ':', color='blue', label='Recovered Freshmen')
    plot(R2, ':', color='green', label='Recovered Sophomores')
    plot(R3, ':', color='red', label='Recovered Juniors')
    plot(R4, ':', color='purple', label='Recovered Seniors')
    
    decorate(xlabel= 'Time (Days)', ylabel='Fraction of Population')

In [77]:
plot_all_results(system.s1, system.i1, system.r1, 
             system.s2, system.i2, system.r2, 
             system.s3, system.i3, system.r3, 
             system.s4, system.i4, system.r4)

AttributeError: 'System' object has no attribute 's1'

In [78]:
def plot_freshmen(S1, I1, R1):
    plot(S1, '--', color='blue', label='Susceptible Freshmen')
    plot(I1, '-', color='blue', label='Infected Freshmen')
    plot(R1, ':', color='blue', label='Recovered Freshmen')
    decorate(xlabel= 'Time (Days)', ylabel='Fraction of Population')
    
plot_freshmen(system.s1, system.i1, system.r1)

AttributeError: 'System' object has no attribute 's1'

In [79]:
plot